body {
    margin: 0 auto;
    border: 1px dashed gray;
    padding: 15px;
    max-width: 320px;

    img {
        max-width: 100%;
        margin-bottom: 15px;
    }
}

p {
    color: #42b883;
    font-size: 48px;
    text-align: center;
    margin: 0px;
}